name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
# env:
#   IMAGE_NAME: oneslide/k8s.gcr.io
#   ORIGIN_TAG: registry.opensource.zalan.do/acid/postgres-operator-ui:v1.8.1
#   TAG_SUFFIX: postgres-operator-ui-v1.8.1
# jobs:

#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v3
#     - name: Pull images
#       run: |
#          docker pull ${{ env.ORIGIN_TAG }} 
#          docker tag ${{ env.ORIGIN_TAG }} ${{ env.IMAGE_NAME }}:${{env.TAG_SUFFIX}}

#     - name: Login to Docker Hub
#       uses: docker/login-action@v2
#       with:
#         username: ${{ secrets.DOCKERHUB_USERNAME }}
#         password: ${{ secrets.DOCKERHUB_TOKEN }}
        
#     - name: Publish Image to Docker Hub
#       run: |
#         docker push ${{ env.IMAGE_NAME }}:${{env.TAG_SUFFIX}}
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Pull images
      run: |
          # docker pull minio/minio:RELEASE.2023-12-23T07-19-11Z
          # docker pull --platform linux/arm64  quay.io/prometheus/node-exporter:v1.3.1
          # docker pull --platform linux/amd64 gcr.io/cadvisor/cadvisor:v0.45.0
          docker pull --platform linux/amd64 percona/percona-xtradb-cluster-operator:1.18.0
          docker pull --platform linux/amd64 percona/percona-xtradb-cluster:8.0.42-33.1
          docker pull --platform linux/amd64 percona/haproxy:2.8.15
          docker pull --platform linux/amd64 percona/proxysql2:2.7.3
          docker pull --platform linux/amd64 percona/fluentbit:4.0.1
          docker pull --platform linux/amd64 percona/pmm-client:3.3.1
          docker pull --platform linux/amd64 percona/percona-xtrabackup:8.0.35-34.1
          docker pull --platform linux/amd64 busybox
          docker save -o percona-amd64.tar \
              percona/percona-xtradb-cluster-operator:1.18.0 \
              percona/percona-xtradb-cluster:8.0.42-33.1 \
              percona/haproxy:2.8.15 \
              percona/proxysql2:2.7.3 \
              percona/fluentbit:4.0.1 \
              percona/pmm-client:3.3.1 \
              percona/percona-xtrabackup:8.0.35-34.1 \
              busybox
          
          
         
    # - name: Set up QEMU
    #   uses: docker/setup-qemu-action@v3
    
    # - name: Set up Docker Buildx
    #   uses: docker/setup-buildx-action@v3
    # - name: Build and push
    #   uses: docker/build-push-action@v6
    #   with:
    #     # platforms: linux/amd64,linux/arm64
    #     platforms: linux/arm64
    #     tags: mongoclient:latest
    #     load: true
    #     outputs: type=tar,dest=test.tar
    # - name: checkfile 
    #   run: |
    #     docker save mongoclient:latest > mongoclient.tar
    #     # docker load -i nacos-server-v2.4.0.1-arm64.tar
    #     tar czvf mongoclient.tar.gz  mongoclient.tar
    #     echo yes
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: images
        path: |
          percona-amd64.tar
  
